<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>debug</level>
    </filter>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${coffee-house.log-file:-coffee-house.log}</file>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
  </appender>

  <logger name="models" level="DEBUG" additivity="false">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </logger>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <logger name="play.core" level="ERROR"/>

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <root level="warn">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
  </root>

</configuration>
